<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MagacinGuma.Repository.Properties.Settings.magacingumadbConnectionString"
            connectionString="Data Source=magacingumadb.mssql.somee.com;Initial Catalog=magacingumadb;Persist Security Info=True;User ID=djusi99_SQLLogin_1;Password=zwk5fbna1l"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>